/* */

.container {
    height: 1000px;
}

.sc-th {
    color: #fff;
    background-color: #337ab7;
    font-size: 16px;
}

.op-panel {
    width: 60%;
    height: 250px;
    margin: auto 72px;
    padding: 10px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
}

.op-panel-b {
    background-color: #337ab7;
}

.op-panel-g {
    background-color: #4e9c78;
}

.op-panel-o {
    background-color: #c08152;
}

.op-img {
    width: 120px;
    height: 120px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.op-desc {
    margin: 20px auto;
}

.img-head{
    width: 50px;
    height: 50px;
}

select option {
    line-height:30px; height:30px; margin:5px auto;
}

.table th, .table td {
    text-align: center;
}

.news-show {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}

.sc-link:focus, .sc-link:active, .sc-link:hover {
    text-decoration:none;
}

.vertical-center {
    height:50px;line-height:50px;
}